{% extends "base.html" %}
{% block title %}
  Блогикум. Лента записей
{% endblock %}
{% block content %}
<h1>Лента записей</h1>
  {% for post in posts|dictsortreversed:'id' %}
  <ul>
  <li><h4>Место: {{ post.location }}</h4></li>
  <li><h4>Дата: {{ post.date}}</h4></li>
  <li><h4>Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a></h4></li>
  <p>{{ post.text|truncatewords:10 }}</p>
  <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
  </ul>
  {% endfor %}
{% endblock %}